{
  "extension": [
    ".ts"
  ],
  "exclude": [
    "coverage",
    "src/test",
    "**/*.d.ts"
  ],
  "all": true,
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "report-dir": "./coverage"
}
