.vscode/**
typings/**
test/**
coverage/**
images/public.gif
__*
.gitattributes
.gitignore
.editorconfig
.eslintignore
.eslintrc.yaml
.travis.yml
.codeclimate.yml
.nvmrc
cli-test-mocha.opts
jsconfig.json
vsc-extension-quickstart.md
