.vscode/**/*
typings/**/*
test/**/*
coverage/**/*
images/public.gif
npm-debug.log
yarn.lock
yarn-error.log
**/__*
.codeclimate.yml
.editorconfig
.eslintignore
.eslintrc.yaml
.gitattributes
.gitignore
.idea/**/*
.nvmrc
.nyc_output/**/*
.nycrc
.travis.yml
cli-test-mocha.opts
jsconfig.json
tag-release.sh

